@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;800&display=swap');

:root{
  --primary-cyan: hsl(193,38%,86%);
  --primary-green: hsl(150, 100%, 66%);
  --neutral-gray-blue: hsl(217, 19%, 35%);
  --neutral-dark-blue: hsl(217, 19%, 22%);

  --ff-primary: 'Manrope', sans-serif;
}

* {
  box-sizing: border-box;
}

html {
font-size: 62.5% /* using rem for font*/
}

body{
  font-family: var(--ff-primary);
  font-size: calc(1rem + 1vw);
  background-color: var(--neutral-dark-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.main-container{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  max-width: 55rem;
  width: 60%;
  padding:5rem;
  background-color: var(--neutral-gray-blue);
  -webkit-box-shadow: 17px 15px 21px 8px rgba(40,46,58,0.78);
-moz-box-shadow: 17px 15px 21px 8px rgba(40,46,58,0.78);
box-shadow: 17px 15px 21px 8px rgba(40,46,58,0.78);
}

.title{
  font-family: var(--ff-primary);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 3px;
  color: var(--primary-green);
  text-align: center;
  padding-bottom: 2rem;
}

.advice-text{
  font-family: var(--ff-primary);
  font-weight: 800;
  font-size: 2.8rem;
  text-align: center;
  color: var(--primary-cyan);
  padding-bottom: 2rem;
}


.horizontal-mobile{
  display: none;
  padding-bottom: 2rem;
}

.horizontal-desktop{
  padding-bottom: 1rem;
}

.dice-button{
  cursor: pointer;
  height: 6rem;
  width: 6rem;
  background-color: var(--primary-green);
  border-radius: 50%;
  position:absolute;
  bottom: -2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: box-shadow 0.3s ease-in-out;
}

.dice-button:hover{
  box-shadow: 1px 0px 20px 5px rgba(82, 255, 168, 0.77);
}

.dice-button svg path{
  fill: var(--neutral-dark-blue);
}

/* Media Queries */

/* Mobile */
@media (min-width: 320px) and (max-width: 480px) {
  .main-container {
    border-radius: 4px;
    width: 90%;
  }
  .horizontal-mobile{
    display: block;
  }
  .horizontal-desktop{
    display: none;
  }
}

/* Ipad - Tablets */
@media (min-width: 481px) and (max-width: 768px) {
  .main-container {
    border-radius: 5px;
    width: 90%;
  }
}

/* Desktop */
@media (min-width: 768px) and (max-width: 1200px) {
  .main-container {
    width: 70%;
    border-radius: 8px;
  }
}